<html>
<head>
    <meta charset="UTF-8">
    <title>每日热度排行</title>
    <meta name="VIP_BFB_PAYMENT" content="BAIFUBAO">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="keywords" content="每日热度排行">
    <link href="./css/app.css" rel="stylesheet">
    <style type="text/css">
        .one-ui-icon-svg {
            fill: currentColor;
            display: inline-block;
            width: 1em;
            height: 1em;
        }
    </style>
    <script src="../static/js/vue.js"></script>
    <script src="//cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script>
        axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
        axios.defaults.transformRequest = [function (data) {
            var ret = ''
            for (var it in data) {
                ret += encodeURIComponent(it) + '=' + encodeURIComponent(data[it]) + '&'
            }
            return ret
        }];
    </script>
</head>
<body style="">
<div id="app" class="index-rank">
    <div class="all-rank-view">
        <div class="banner-container">
            <div class="content-container">
                <div class="word">
                    <div class="title">每日热度排行</div>
                    <div class="intro">
                        最近更新时间<span>{{datetime}}</span>
                    </div>
                </div>
                <div class="image"></div>
            </div>
        </div>
        <div class="rank-list-view">
            <div class="board-list">
                <div class="rankbox baidu" v-for="(items,index) in hots" :id="index">
                    <div class="desc">
                        <div class="title">{{items.name}}</div>
                        <div></div>
                    </div>
                    <div class="tabs tabs-card" >
                        <div  class="tab-content">
                            <div  class="tab-pane tab-pane" >
                                <ul  class="list" >
                                    <li class="list-item"  v-for="(item,index2) in items.tops" >
                                        <a :href="item.link" target="_blank">
                                        <div class="content">
                                            <div class="left" style="width: 80%;"><span :class="'rank rank-'+item.rank">{{item.rank}}</span><span class="name">{{item.name}}</span></div>
                                            <div class="right" style="width: 20%;">
                                                <div class="trend">
                                                    <span class="value">{{item.count}}</span>
                                                    <!--<span class="trend-icon">
                                                        <i class="icon trend-fair"></i>
                                                    </span>-->
                                                </div>
                                            </div>
                                        </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="data-desc">
                <div class="tip"><span class="icon-tip"></span><span>数据说明</span></div>
                <div><p>
                     排序规则：求和各网站的相关搜索词的搜索指数，形成搜索指数排行；
                </p></div>
            </div>
        </div>
    </div>
</div>
<script>

    Date.prototype.Format = function (formatStr) {
        var str = formatStr;
        var Week = ['日', '一', '二', '三', '四', '五', '六'];
        str = str.replace(/yyyy|YYYY/, this.getFullYear());
        str = str.replace(/yy|YY/, (this.getYear() % 100) > 9 ? (this.getYear() % 100).toString() : '0' + (this.getYear() % 100));

        var month = this.getMonth() +1
        str = str.replace(/MM/,month  > 9 ? month.toString() : '0' + month);
        str = str.replace(/M/g, month );

        str = str.replace(/w|W/g, Week[this.getDay()]);

        str = str.replace(/dd|DD/, this.getDate() > 9 ? this.getDate().toString() : '0' + this.getDate());
        str = str.replace(/d|D/g, this.getDate());

        str = str.replace(/hh|HH/, this.getHours() > 9 ? this.getHours().toString() : '0' + this.getHours());
        str = str.replace(/h|H/g, this.getHours());
        str = str.replace(/mm/, this.getMinutes() > 9 ? this.getMinutes().toString() : '0' + this.getMinutes());
        str = str.replace(/m/g, this.getMinutes());

        str = str.replace(/ss|SS/, this.getSeconds() > 9 ? this.getSeconds().toString() : '0' + this.getSeconds());
        str = str.replace(/s|S/g, this.getSeconds());
        return str;
    }

    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] == variable) {
                return pair[1];
            }
        }
        return false;
    }

    new Vue({
        el: '#app',
        data: function () {
            return {
                hots:[],
                datetime:''
            }
        },
        mounted() {

        },
        created: function () {
            this.loadData()
        },
        methods: {
            loadData:function() {
                var today = new Date()
                var date = getQueryVariable("d")
                var url  = "../data/index_hots.json?t="+today.getTime()
                if (date!=false){
                    url  = "../data/"+date+"_hots.json?t="+today.getTime()
                }
                var $this = this;
                axios({
                    method: 'get',
                    url: url,
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    }
                }).then(function (res) {
                    if(res.status==200){
                        $this.hots = res.data.tops
                        $this.datetime = res.data.datetime
                    }
                })
            }
        }
    })
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?5d5d05499d56aaf7242c81dc74611b18";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>